$border-color: #6E69E4;
$background-color: #333077;
$inside-color: #fff;

html,
body {
  overflow: hidden;
  margin: 0 50px;
  margin-top: 1%;
  background-color: $background-color;
}
.title {
  color: #fff;
}
.container {
  background-color: $background-color !important;
}

.textarea-input {
  height: auto;
  overflow: hidden;
  background-color: $inside-color;
  border: 2px $border-color solid;
}

.textarea-output {
  border: 2px $border-color solid;
  border-radius: 5px;
  padding: 5px;
  background-color: $inside-color;
}
